.modal_wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 38vw;
    height: 33vh;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
  
    padding: 1rem;
    z-index: 1;
  }
  h3{
 
  }
  .group_name,
  .choose_color {
    margin: 0.5rem 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
  }
  .choose_color,
  .group_name p {
    font-size: 1rem;
    margin: 0 1rem;
    font-weight: bolder;
  }
  
  .group_name input {
    padding: 0.5rem 1rem;
    width: 60%;
    border-radius: 1rem;
    outline: none;
    border: none;
    border: 1px solid gray;
    font-size: 1.2rem;
  }
  input[type="radio"] {
    appearance: none;
    margin: 0 0.3rem;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
  }
  input[type="radio"]:nth-child(1) {
    background-color: #b38bfa;
  }
  input[type="radio"]:nth-child(2) {
    background-color: #ff79f2;
  }
  input[type="radio"]:nth-child(3) {
    background-color: #43e6fc;
  }
  input[type="radio"]:nth-child(4) {
    background-color: #f19576;
  }
  input[type="radio"]:nth-child(5) {
    background-color: #0047ff;
  }
  input[type="radio"]:nth-child(6) {
    background-color: #6691ff;
  }
  input[type="radio"]:checked {
    border: 2px solid rgb(11, 11, 11);
  }
  .create_btn {
    position: absolute;
    padding: 0.3rem 1.6rem;
    background: #000000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-top: 2rem;
    bottom: 1rem;
    left: 22rem;
  }